.goal-block{
  padding-top: 68px;
  &__title{
    margin-bottom: 40px;
  }
  .goal-item{
    margin-bottom: 60px;
    text-align: center;
    &__image{
      margin-bottom: 10px;
      &-icon{
        max-width: 50px;
      }
    }
    &__title{
      font-family: $robotoRegular;
      font-size: 22px;
      color: $textColor;
      letter-spacing: -0.35px;
      max-width: 85%;
      margin: 0 auto 23px;
    }
    &__description{
      font-family: $robotoRegular;
      font-size: 16px;
      color: $textColor;
      line-height: 1.3;
      letter-spacing: -0.26px;
    }
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@media (min-width: $sm){
  .goal-block{
    .goal-item{
      text-align: left;
      &__title{
        max-width: none;
      }
    }
  }
}
@media (min-width: $md){
  .goal-block{
    .col-lg-5{
      &:nth-child(1) {
        .goal-item.animated.fadeInUp{
          animation: 1s fadeInUp both;
        }
      }
      &:nth-child(2) {
        .goal-item.animated.fadeInUp{
          animation: 1s fadeInUp both;
          animation-delay: 0.5s;
        }
      }
    }
  }
}

@media (min-width: $lg){
  .goal-block{
    background: url("../img/graphics_goal.png") no-repeat 0 25%;
    &__title{
      margin-bottom: 110px;
    }
    .col-lg-5{
      &:first-child {
        padding-left: 65px;
      }
      &:last-child {
        padding-left: 80px;
        padding-right: 0;
      }
    }
    .goal-item{
      margin-bottom: 130px;
      &__image{
        height: 80px;
        margin-bottom: 35px;
        &-icon{
          max-width: 80px;
        }
      }
    }
  }
}

@media (min-width: $xl) {
  .goal-block{
    .goal-item{
      &__title{
        max-width: 85%;
        margin: 0 0 23px;
      }
    }
  }
}
